body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
    background-color: rgb(19, 18, 18);
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-image {
    width: 50px;
    height: 50px;
    animation: animIcon 3s linear infinite;
}

@keyframes animIcon {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

strong {
    font-size: 18px;
    color: rgb(138, 138, 138);
}

.menu-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.menu-list-link {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.menu-list-link:hover {
    color: white;
}

.link-home {
    color: rgb(138, 138, 138);
}

.link-users {
    color: yellow;
}

.container {
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    background-color: rgb(36, 32, 32);
}

h1 {
    text-align: center;
    font-size: 28px;
    color: white;
}

#fetch-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#fetchButton {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: black;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
}

#fetchButton:hover, #reset:hover {
    background-color: white;
    color: black;
}

#reset {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: black;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.4s;
    display: none;
}

.user-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 21px;
    height: 100vh;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 10px;
    padding: 21px 10px;
    overflow: hidden;
    background-color: rgb(1, 1, 70);
}

.user-photo {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

p {
    width: auto;
    font-size: 15px;
}

footer {
    background-color: rgb(19, 18, 18);
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-footer {
    width: 45px;
    height: 45px;
}

h2 {
    font-size: 18px;
    color: rgb(138, 138, 138);
}

h3 {
    font-size: 18px;
    color: rgb(138, 138, 138);
}